[user]
	email = simon.buist@gmail.com
	name = Simon Buist
[push]
	default = simple
[alias]
    work = !~/bin/git-as.sh ~/.ssh/work/id_rsa
    co = checkout
    ci = commit
    st = status
    br = branch
    hist = log --pretty=format:\"%h %ad | %s%d [%an]\" --graph --date=short
    type = cat-file -t
    dump = cat-file -p
    pull = pull --rebase
